<div class="jumbotron" style="text-align: center">
  <h1 class="display-4" style="text-align :center;">MARKBLOG</h1>
  <br>
  <p class="lead" style="text-align :center;">WELCOME</p>
  <hr class="my-4">
   <p></p>
  <%= link_to 'SIGNUP NOW', "#", class: "btn btn-primary btn-lg" , style: "" %>
</div>
<%#= link_to "New Post", posts_new_path %>