<div style="align-content: center">
  <footer class="footer" style="bottom: 0%; position: absolute; width: 100%; height: 60px; align-content: center">
    <nav>
      <ul>
        <%= link_to "About", home_about_path, class: "btn btn-outline-primary" %></li>
      </ul>
    </nav>
    <small>
      Copyright &copy; marktek.com
    </small>
  </footer>

</div>