<div style="margin-left: 30%; flex-grow: 0; position: fixed; bottom: 0; width: 100%;">
<!--  <footer class="footer" style="bottom: 0%; position: absolute; width: 100%; height: 60px; align-content: center">-->
  <footer>
    <nav>
      <ul>
        <%= link_to "About", home_about_path, class: "btn btn-outline-primary" %></li>
      </ul>
    </nav>
    <small>
      Copyright &copy; marktek.com
    </small>
  </footer>

</div>