<div style="align-content: center">
  <footer class="footer" style="bottom: 0%; position: absolute; width: 100%; height: 60px; align-content: center">
    <small>
      Copyright &copy; marktek
    </small>
    <nav>
      <ul>
        <li><%= link_to "About", home_about_path %></li>
      </ul>
    </nav>
  </footer>

</div>